*{
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-image: url("../images/coding-ninajs-background.webp");
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
#head{
    font-size: 40px;
}
#subheading{
    font-size: 18px;
    margin-top: 10px;
}
#content1{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(0,0,0,0.5);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    border-radius: 5px;
    margin:auto;
    margin-top: 10px;
    padding-bottom: 60px
}
form .box{
    width: 98%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option1 select, #option2 select{
    width: 98%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
}
#content1 textarea{
    width: 98%;
    height: 150px;
    position: relative;
    bottom: 17px;
}
button{
    width: 98%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(12, 255, 12);
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer
}